In [2]:
import pandas as pd
import numpy as np

In [3]:
# feed_data = pd.read_csv('/Users/vladimir/Desktop/Айтишничаем/feed_data_postgres.csv')

In [4]:
# feed_data = feed_data.rename(columns={
#     '2021-11-23 11:36:51': 'timestamp',
#     '95163': 'user_id',
#     '1769': 'post_id',
#     'view': 'action',
#     '0': 'target'
# })

In [3]:
database = 'postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml'

In [7]:
feed_data = pd.read_sql(
    '''
    SELECT user_id, post_id, target
    FROM feed_data
    WHERE action = 'view'
    ORDER BY timestamp
    ''',
    database
)

In [8]:
feed_data

          user_id  post_id  target
0           15471     2810       0
1            8663     3837       1
2          108994     5258       0
3          136194     1205       1
4          149801     1875       0
...           ...      ...     ...
68686450    26960     1608       0
68686451    13350     6119       0
68686452    20156     3114       0
68686453    50842     5720       0
68686454    40577      305       0

[68686455 rows x 3 columns]

In [8]:
feed_data.to_csv('/Users/vladimir/Desktop/feed_data_pre.csv', index=False)