In [1]:
import pandas as pd
import numpy as np
import texthero as hero

In [2]:
database = 'postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml'

In [3]:
post_text = pd.read_sql(
    'SELECT * FROM post_text_df',
    database
)

posts_like_rate = pd.read_sql(
    '''
    SELECT post_id, SUM(target), COUNT(target)
    FROM feed_data
    GROUP BY post_id
    ''',
    database
)

In [4]:
post_text

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

In [4]:
post_text['text'] = hero.clean(post_text['text'])
tfidf_text = hero.tfidf(post_text['text'])

In [5]:
tfidf_text_mean_list = []

for tf_idf in tfidf_text:
    tfidf_text_mean_list.append(np.mean(tf_idf))

post_text['text'] = pd.DataFrame(tfidf_text_mean_list, columns=['tfidf'])

In [6]:
post_text = pd.concat((post_text.drop('topic', axis=1), pd.get_dummies(post_text['topic'])), axis=1)

In [8]:
posts_like_rate

      post_id   sum  count
0           1  1067   9575
1           2   637   8132
2           3  1122   9534
3           4  1171   9329
4           5  1153   9736
...       ...   ...    ...
6826     7315  2619  19559
6827     7316   677   7249
6828     7317   731   7534
6829     7318   680   7465
6830     7319   720   7305

[6831 rows x 3 columns]

In [6]:
posts_like_rate = pd.concat((posts_like_rate.drop(['sum', 'count'], axis=1), pd.DataFrame(posts_like_rate['sum'] / posts_like_rate['count'], columns=['post_like_rate'])), axis=1)

In [7]:
posts_like_rate

      post_id  post_like_rate
0           1        0.111436
1           2        0.078333
2           3        0.117684
3           4        0.125523
4           5        0.118426
...       ...             ...
6826     7315        0.133903
6827     7316        0.093392
6828     7317        0.097027
6829     7318        0.091092
6830     7319        0.098563

[6831 rows x 2 columns]

In [8]:
post_text_2 = pd.merge(post_text, posts_like_rate, on='post_id')

In [9]:
post_text = post_text_2[post_text_2['post_like_rate'] > 0.095418]

In [10]:
post_text

      post_id      text     topic  post_like_rate
0           1  0.000185  business        0.111436
2           3  0.000255  business        0.117684
3           4  0.000138  business        0.125523
4           5  0.000133  business        0.118426
8           8  0.000155  business        0.121479
...       ...       ...       ...             ...
6824     7313  0.000115     movie        0.097633
6825     7314  0.000224     movie        0.134268
6826     7315  0.000139     movie        0.133903
6828     7317  0.000118     movie        0.097027
6830     7319  0.000163     movie        0.098563

[3416 rows x 4 columns]

In [12]:
post_text.to_csv('/Users/vladimir/Desktop/post_data_pre.csv', index=False)