In [1]:
import pandas as pd
import numpy as np

In [2]:
database = 'postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml'

In [3]:
user_data = pd.read_sql(
    'SELECT * FROM user_data',
    database
)

users_like_rate = pd.read_sql(
    '''
    SELECT user_id, SUM(target), COUNT(target)
    FROM feed_data
    GROUP BY user_id
    ''',
    database
)

In [4]:
user_data = user_data.drop(['os', 'source', 'gender', 'exp_group'], axis=1)

In [5]:
user_data = pd.concat((user_data, pd.DataFrame(users_like_rate['sum'] / users_like_rate['count'], columns=['user_like_rate'])), axis=1)

In [6]:
user_data

        user_id  age country               city  user_like_rate
0           200   34  Russia          Degtyarsk        0.107232
1           201   37  Russia             Abakan        0.077540
2           202   17  Russia           Smolensk        0.120166
3           203   18  Russia             Moscow        0.159686
4           204   36  Russia  Anzhero-Sudzhensk        0.142857
...         ...  ...     ...                ...             ...
163200   168548   36  Russia        Kaliningrad        0.052356
163201   168549   18  Russia               Tula        0.080292
163202   168550   41  Russia      Yekaterinburg        0.093366
163203   168551   38  Russia             Moscow        0.091429
163204   168552   16  Russia        Ivanteyevka        0.049430

[163205 rows x 5 columns]

In [7]:
user_data.to_csv('/Users/vladimir/Desktop/user_data_pre.csv', index=False)